*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #121212;
}

body, button, h1{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    transition: 0.3 linear;

}

.container-dark{
    display: block;
    position: relative;
    background: #272727;
    width: 80%;
    height: 80%;
    padding: 30px;
    display: flex;
    align-items: center;
}
.card-about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 16px;
    z-index: 10000;
    position: relative;
    flex: 5;
    max-width: 310px;
    font-weight: 400;
    color: #ccc;
    text-align: left;
    margin-top: -16px;

}

@media (max-width: 889px){
    body{
        height: auto;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .main{
        height: auto;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .container-dark{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 80%;
        padding: 60px 30px;
    }
    .card-about{
        order: 2;
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}



.card-about .title{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding-bottom: 16px;
    letter-spacing: 1px;
}

.card-about .title::before{
    content: "";
    width: 50px;
    height: 2px;
    background: #444;
    position: absolute;
    display: flex;
    bottom: 0;
}

.card-about p{
    font-size: 15px;
    margin-top: 16px;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    color: #afafaf;
}

.card-about .group{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 32px;
}

.card-about button{
    background: #373737;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s linear;

}
.card-about button svg{
    stroke: #fff;
}
.card-about button:hover{
    filter: brightness(0.8);
}
.container-info{
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.container-info span{
    font-weight: bold;
    letter-spacing: 1.7px;
}

.container-info .value{
    font-weight: 300;
    text-transform: capitalize;
    color: #999;
}

.container-woman{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
    background: #171717;
    max-width: 510px;
    margin: 0 auto;
    padding: 30px;
}


@media (max-width: 889px){
    .container-woman{
        order: 1;
        margin-bottom: 26px;
    }
}

.container-woman svg{
    width: 30%;
    min-width: 340px;
    height: auto;
}

.changeClothes{
    fill: url("#pattern0");
}